<% provide(:title, t(".help")) %>
<div class="container" style="background-color: #703745; min-height: 500px; min-width: 500px;">
    <h1 class="font-weight-bold text-white about-slide"><%= t ".help" %></h1>
    <p class="text-white text-justify p-slide" style="font-size: 18px;">
      + Tạo tài khoản của bạn để đăng nhập vào hê thống </br>
      + Bạn cũng có thể đăng nhập bằng tài khoản google của mình nếu đã có tài khoản google </br>
      + Tạo giáo án mới với 2 trạng thái: "Nháp" hoặc "Xong" </br>
        .Trạng thái "Nháp": khi bạn chưa hoàn thành xong giáo án và chưa muốn để công khai cho mọi người xem </br>
        .Trạng thái "Xong": khi bạn đã hoàn thành xong giáo án và muốn cho mọi người cùng xem </br>
      + Nhấn "Lưu" để lưu giáo án với trạng thái đã chọn ở trên </br>
      + Lọc các giáo án theo môn học và khối lớp: tích chọn vào 1 khối, 1 môn học rồi nhấn "Lọc" để lọc kết quả </br>
    </p>
</div>
