<form method="get" action="/lessons" id="search">
  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  <input name="search" type="text" size="40" placeholder="<%= t ".search" %>" title="<%= t ".search_info" %>" value="<%= params[:search] %>"/>
</form>
