@import "bootstrap";
@import "font-awesome";

.navbar {
  background-color: #42b587;
  background-image: linear-gradient(56deg, #2fa89e, #42b587);
  color: #fff;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  padding: 0 20px;
}

// header
.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand span {
  vertical-align: middle;
}

.navbar .navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
  &:hover {
    color: white;
  }
}

.dropdown .dropdown-toggle {
  color: white;
}

.dropdown-menu #link_user {
  text-align: center;
}

.navbar-brand img {
  height: 2em;
  display: inline-block;
  line-height: 50px;
  font-family: "edicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: -0.1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-top: 0.3em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

//body
body {
  background: #f8f9fa;
  font-size: 15px;
}

.card {
  display: flex;
  border-color: #854555;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  height: 100%;
}

.card-header {
  text-align: center;
  background: #854555;
}

.card-body > li {
  position: relative;
  display: block;
  color: #222;
  font-size: 14px;
  border: 1px solid #17a2b8;
  border-width: 0 0 1px 0;
}

.card-link {
  font-size: 24px;
  color: white;
  display:block;
  padding: 20px;
  &:hover {
    color: white;
    background-color: #703745;
  }
}

.filter-list .card-header {
  padding: 0;
}

form .filter-list {
  width: 100%;
}

ul{
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 2px;
}

li .title {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  padding: 0;
}

.btn {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
}

.btn.btn-orange {
  background-color: #f7931d;
  color: #fff;
  &:hover:not(.disabled) {
    background-color: #d97908;
  }
}

.lesson-card {
  margin-bottom: 24px;
}

.lesson-link:hover {
  text-decoration: none;
}

.lesson-title > a, .lesson-delete, .lesson-edit {
  color: #17a2b8;
  &:hover {
    color: #17a2b8;
  }
}

h6 {
  font-weight: bold;
}

.type-lesson-plan {
  color: #854555;
  font-size: 32px;
  padding-bottom: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.title-content {
  font-size: 32px;
  vertical-align: middle;
}

.lesson-details {
  padding: 15px;
  border-radius: 5px;
}

h5 {
  display: inline;
}

#lesson-title {
  line-height: 2.5em;
  // display: flex;
  // align-items: baseline;
  margin-top: 5px;
}
.lesson-title {
  padding: 10px;
}

.lesson-time {
}

.text-justify p{
  padding-left: 15px;
}

.col-md-9{
  padding-block-end: 10px;
}

.dropdown-item{
  vertical-align: middle;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.accent-2 {
  width: 60px;
  height: 5px;
  background-color: #f7931d;
}

.footer_link {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.signin_form {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
}

.about-slide {
  border-bottom: 3px solid #ffc107;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.p-slide {
  min-height: 120px;
}

h2, h1 {
  text-align: center;
}

#search {
  
}

#search input[type="text"] {
  background: no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px;
  width: 300px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  width: 100%;
  outline: none;
}

.or-area {
  text-align: center;
  border-bottom: 1px solid #c5c5c5;
  line-height: 0.1em;
  margin: 20px 0 20px;
}
.or-area span {
  background-color: #fff;
  padding: 0 20px;
  color: #c5c5c5;
}

#choise {
  text-align: center;
}
