<footer class="page-footer font-small unique-color-dark">
  <div class="text-center text-md-left mt-5 border-top" style="background-color: rgba(70,70,70,0.8); color: white;">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Saokhuee Team</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" >
          <p>Nhóm xây dựng phần mềm lưu trữ và chia sẻ giáo án.</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Hỗ trợ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <%= link_to "Giới thiệu phần mềm", about_path, class: "footer_link" %>
          </p>
          <p>
            <%= link_to "Hướng dẫn sử dụng", help_path, class: "footer_link" %>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin: 0;"">
          <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> V1-4.5 Home City, 177 Trung Kính, HN </p>
          <p>
            <i class="fa fa-envelope mr-3"></i> lienhe@saokhuee.com </p>
          <p>
            <i class="fa fa-phone mr-3"></i> +84. 888 723 948 </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3" style="background-color: #464646; color: white;"> Copyright © 2018 SAO KHUE LTD. All rights reserved.
    <br/><a href="http://saokhuee.com" class="footer_link"> http://saokhuee.com </a>
  </div>
</footer>
