<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span>
      <a class="navbar-brand" href="<%= lessons_path %>">
        <%= image_tag("logo.png", :alt => "logo") %><span class="nav-text">Lessonplans</span>
      </a>
      </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'New Lesson', new_lesson_path, class: "nav-link", "data-turbolinks" => false %>          
        </li>
      </ul>
    </div>
  </nav>
</header>